#container {
    display:grid;
    min-height: 100vh;
    grid-template-areas:
    'hd hd hd hd hd hd'
    'sc sc sc sc sc sc'
    'mn mn mn mn mn mn'
    'mn mn mn mn mn mn'

    'ft ft ft ft ft ft';
    
    margin-right: auto;
    margin-left: auto;
    padding-right: 2vw;
    padding-left: 2vw;
    column-gap:1vh ;
    row-gap:1vh ;
    background-color:#1D3342;
    
}

header{
    grid-area: hd;
    background-color:#3498db;
    max-height: 15vh;
    width:100%;
    display: flex;
}

.headerbox{
    justify-content:space-between;
}
nav{
    max-height: fit-content;
    margin: 5vw;
    padding:5px; 
    display: flex;
    max-width: 50%;
    
}
.navbox{
    display: flex; justify-content: start; 
    flex-direction: row; flex-wrap: wrap;
    
}
section{
    grid-area: sc;
    background-color:#3498db;
    height: 26vh;
    width:100% ;
}

main {
    grid-area: mn;
    background-color:#3498db;
    height: 55vh;
    width:100%;
}

.mainbox{display: flex; flex-direction: row; flex-wrap: wrap; order: 2; flex: 2;

}

main>section3{height: fit-content;
    max-width: 50%;
    display: flex; 
    flex:1; 
    order: 2;
    
    
}
main>section3{
    
}

.droneimg{
    max-height: 20vh;
    max-width: 20vw;
}

.deliverybotimg{
    max-height: 20vh;
    max-width: 20vw;
}

.section3box{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

footer{
    grid-area: ft;
    background-color:#3498db;
    height: 15vh;
    width:100% ;
}

  footer > section2{
    grid-area: sk;
    background-color:#3498db;
    width: 96%;
    height: 10vh;
}

.omosscontainer{
    grid-template-areas: 
    'one two the four'
    'one two the four'
    'five six seven eight'
    'five six seven eight';
}

img {

}