#container {
    display:grid;
    height: 100vh;
    grid-template-areas:
    'hd hd hd hd hd hd'
    'sc sc sc sc sc sc'
    'mn mn mn mn mn mn'
    'mn mn mn mn mn mn'
    'ft ft ft ft ft ft';
    margin-right: auto;
    margin-left: auto;
    padding-right: 2vw;
    padding-left: 2vw;
    column-gap:1vh ;
    row-gap:1vh ;
    background-color:#ffffff;
}

header{
    grid-area: hd;
    background-color:#3498db;
    height: 15vh;
    width:100%;
    display: flex;
}

.headerbox{
    justify-content:space-between;
}
nav{
    height:15vh;
    margin: 5vw;
    padding: ;
}
.navbox{
    display: flex; justify-content: end; 
    flex-direction: row; flex-wrap: wrap;
    
}
section{
    grid-area: sc;
    background-color:#3498db;
    height: 28vh;
    width:100% ;
}

main {
    grid-area: mn;
    background-color:#3498db;
    height: 38vh;
    width:100% ;
}

section2 {
    grid-area: ft;
    background-color:#3498db;
    height: 15vh;
    width:100% ;
}

section2 > footer{
    grid-area: sk;
    background-color:#3498db;
    width: 96%;
    height: 10vh;

}